@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@300&display=swap');
html {
    font-family: Poppins;
}

h1, .strong {
    text-align: center;
}

h1 {
  margin-bottom: 0;
}

.strong {
    line-height: 20px;
    margin-top: 0;
}

.color {
    color: rgb(79, 139, 223);
}

.box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px 1em;
  margin-left: 5%;
  margin-right: 5%;
  }

.box :first-child {
    align-self: center;
}

.currency, .analysis, .data {
  background-color: rgb(97, 152, 166);
  border-radius: 1em;
  margin: 10px;
}


img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 1em;
}
.content {
  padding: 1em;
}
button{
  width: 8em;
  height: 2em;
  border-radius: 1em;
  border-color: white;
  background-color: rgb(94, 145, 226);
  color: white;
}
